/* Find your lost ones page */
.mapt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 71vh;
} 

input[type="search"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.newsMaster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.Card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.CardHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.headline {
  font-size: 18px;
  margin: 0;
}

/* .date {
  font-size: 14px;
  color: #888;
  margin: 0;
} */

.Thumbnail {
  width: 100%;
  max-width: 240px;
  max-height: 240px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* .Summary {
  margin: 0;
} */

/* Add additional styles as needed */
