.VForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.form {
  width: 100vw;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.ver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
}

.input {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox {
  margin-top: 10px;
}

/* Add more CSS rules for styling other elements in the form */
